<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trí Dân Coin</title>
    <link rel="icon" href="/images/drk-nakamoto.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/slide.css">
    <link rel="stylesheet" href="/styles/reasons.css">
    <link rel="stylesheet" href="/styles/landingpage.css">
    <link rel="stylesheet" href="/styles/features.css">
    <link rel="stylesheet" href="/styles/faq.css">
    <link rel="stylesheet" href="/styles/sangiaodich.css">
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>
    <div class="head-above-nav"></div>
    <%- include('partials/navbar') %>
    <%- include('partials/slide') %>
    <div id="drk" class="whatis-container">
        <div class="whatis-details">
            <h2 class="whatis-headtext">DRK DEFI CHAIN LÀ GÌ?</h2>
            <p class="whatis-text">
                DRK Defi Chain là một nền tảng phi tập trung trong các lĩnh vực tài chính hiện có của hệ thống ngân hàng số thuộc Tập đoàn Draken. 
                Mục tiêu của DRK là thu thập tất cả các thông tin được lưu trữ trong một sổ cái xác thực phi tập trung nhằm chuyển đổi các quy trình 
                thanh toán và thủ tục tài chính. Do đó, thanh toán sẽ trở nên rẻ hơn, thuận tiện hơn và an toàn hơn với nhiều khả năng tự động hóa.<br /><br />
                DRK tập trung vào bảo mật, giao dịch nhanh chóng, hiệu quả và nhiều công nghệ mới nhất trong lĩnh vực tài chính phi tập trung để tạo ra nền 
                tảng all -in -one (tất cả trong một) trong hệ thống Draken Group và ngành tài chính toàn cầu.
            </p>
        </div>
    </div>
    <%- include('partials/features') %> 
    <%- include('partials/reasons') %> 
    <%- include('partials/dtrade') %> 
    <%- include('partials/sangiaodich') %> 
    <%- include('partials/faq') %> 
</body>
</html>